.DS_Store
ekkk.xcodeproj/project.xcworkspace/xcuserdata/agasbzj.xcuserdatad/UserInterfaceState.xcuserstate
ekkk.xcodeproj/project.xcworkspace/xcuserdata/agasbzj.xcuserdatad/UserInterfaceState.xcuserstate
