<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Banks</key>
	<array>
		<dict>
			<key>bankName</key>
			<string>中国工商银行</string>
			<key>cards</key>
			<array>
				<string>g1</string>
				<string>g2</string>
			</array>
			<key>icon</key>
			<string>中国工商银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国农业银行</string>
			<key>cards</key>
			<array>
				<string>n1</string>
				<string>n2</string>
			</array>
			<key>icon</key>
			<string>中国农业银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国银行</string>
			<key>cards</key>
			<array>
				<string>z1</string>
				<string>z2</string>
			</array>
			<key>icon</key>
			<string>中国银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国建设银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>中国建设银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>上海浦东发展银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>上海浦东发展银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>交通银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>交通银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>深圳发展银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>深圳发展银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>广东发展银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>广东发展银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国光大银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>中国光大银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国民生银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>中国民生银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>华夏银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>华夏银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中信银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>中信银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国平安银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>中国平安银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>花旗银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>花旗银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>汇丰银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>汇丰银行.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>招商银行</string>
			<key>cards</key>
			<array>
				<string>j1</string>
				<string>j2</string>
			</array>
			<key>icon</key>
			<string>招商银行.png</string>
		</dict>
	</array>
</dict>
</plist>
