<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Banks</key>
	<array>
		<dict>
			<key>bankName</key>
			<string>中国工商银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>gongshang.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国农业银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>nongye.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>zhongguo.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国建设银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>jianshe.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>上海浦东发展银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>浦发白金卡</string>
			</array>
			<key>icon</key>
			<string>pufa.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>交通银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>jiaotong.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>深圳发展银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>sfz.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>广东发展银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>guangfa.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国光大银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>guangda.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国民生银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>minsheng.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>华夏银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>huaxia.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中信银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>zhongxin.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>中国平安银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>pingan.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>花旗银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>huaqi.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>汇丰银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>huifeng.png</string>
		</dict>
		<dict>
			<key>bankName</key>
			<string>招商银行</string>
			<key>cards</key>
			<array>
				<string>金卡</string>
				<string>白金卡</string>
			</array>
			<key>icon</key>
			<string>zhaoshang.png</string>
		</dict>
	</array>
</dict>
</plist>
